dj-database-url
django-appconf
django-multiselectfield
asgiref==3.9.1
charset-normalizer==3.4.3
Django==5.2.5
django-appconf==1.1.0
et_xmlfile==2.0.0
gunicorn==23.0.0
openpyxl==3.1.5
packaging==25.0
pillow==11.3.0
psycopg2-binary==2.9.10
python-dotenv==1.1.1
python-decouple==3.8
reportlab==4.4.3
sqlparse==0.5.3
tzdata==2025.2
waitress==3.0.2
wfastcgi==3.0.0
whitenoise==6.9.0
cloudinary==1.41.0
django-cloudinary-storage==0.3.0
